<div #albumCover style="position: relative; left: 0; top: 0;" id="img">
    <div class="album-cover eye">
        <div class="vinyl-cover"></div>
        <div class="album-info">
            <h1>Nombre del Álbum</h1>
            <h2>Artista</h2>
            <div class="song-list">
                <div class="column">
                    <ul>
                        <li>Canción 1</li>
                        <li>Canción 2</li>
                        <li>Canción 3</li>
                        <li>Canción 4</li>
                        <li>Canción 5</li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li>Canción 6</li>
                        <li>Canción 7</li>
                        <li>Canción 8</li>
                        <li>Canción 9</li>
                        <li>Canción 10</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/ase.png" class="heaven"/>
</div>

<div id="nuevo">
    
</div>

<div>
    <button (click)="downloadImage()">Descargar Imagen</button>
</div>
